@import '@/../node_modules/toastify-js/src/toastify'

// Misc
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.toastify
  margin-top: 4.8rem
  height: 4.8rem !important
  display: flex !important
  align-items: center !important
  padding: 0 1.2rem 0 2.4rem !important
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .2) !important
  background: rgba(mix(#0b7285, $color-background, 20%), .8)
  border: 1px solid rgba(#0b7285, .5) !important
  border-radius: 0.6rem
  user-select: none
  cursor: inherit
  &.error
    background: rgba(mix(#c92a2a, $color-background, 20%), .8)
    border: 1px solid rgba(#c92a2a, .5) !important
    .toast-close
      color: #ff6b6b
  &.success
    background: rgba(mix(#2b8a3e, $color-background, 20%), .8)
    border: 1px solid rgba(#2b8a3e, .5) !important
    .toast-close
      color: #51cf66
  .toast-close
    opacity: .8
    color: #22b8cf
    font-size: 0
    margin-left: 1.2rem
    cursor: pointer
    &:after
      content: 'close'
      font-size: 1.8rem
      font-family: 'Material Icons'
      font-weight: normal
      font-style: normal
      display: inline-block
      line-height: 1
      text-transform: none
      letter-spacing: normal
      word-wrap: normal
      white-space: nowrap
      user-select: none

      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility

      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale

      /* Support for IE. */
      font-feature-settings: 'liga'
